<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd" [
  <!ENTITY remoteClasses SYSTEM "djn-settings.xml">
]>
<web-app>
  <display-name>CDB_ExtJS_Gen</display-name>
  <servlet>
		<servlet-name>ClearDjnServlet</servlet-name>
		<servlet-class>clear.runtime.js.CDBDirectJNgineServlet</servlet-class>
		
		
		
		<init-param>
			<param-name>debug</param-name>
			<param-value>true</param-value>
		</init-param>

		<init-param>
			<param-name>minify</param-name>
			<param-value>true</param-value>
		</init-param>
		
		&remoteClasses;
		
		<init-param>
			<param-name>createSourceFiles</param-name>
			<param-value>true</param-value>
		</init-param>

		<init-param>
			<param-name>providersUrl</param-name>
			<param-value>djn/directprovider</param-value>
		</init-param>
		
		
		
		<init-param>
			<param-name>batchRequestsMultithreadingEnabled</param-name>
			<param-value>true</param-value>
		</init-param>

		<init-param>
			<param-name>apis</param-name>
			<param-value>remote</param-value>
		</init-param>

		<init-param>
			<param-name>remote.apiFile</param-name>
			<param-value>direct/ServerConfig.js</param-value>
		</init-param>

		<init-param>
			<param-name>remote.apiNamespace</param-name>
			<param-value>Clear.direct</param-value>
		</init-param>

		<init-param>
			<param-name>remote.actionsNamespace</param-name>
			<param-value>Clear.action</param-value>
		</init-param>
		
		<load-on-startup>1</load-on-startup>
  </servlet>  
  
  <servlet-mapping>
    <servlet-name>ClearDjnServlet</servlet-name>
    <url-pattern>/djn/directprovider/*</url-pattern>
  </servlet-mapping>
		
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
</web-app>