<?xml version="1.0" encoding="UTF-8"?>
<plugin>
	<extension point="org.eclipse.wst.common.project.facet.core.facets">
		<category id="com.farata.cleardatabuilder.extjs.facet.category">
			<label>ClearDataBuilder for Ext JS, v 1.0 Facets</label>
			<description>ClearDataBuilder for Ext JS, v 1.0 Facets</description>
		</category>
		<project-facet id="com.farata.cleardatabuilder.extjs.facet.common">
			<label>CDB Ext JS Web Project Facet</label>
			<description>CDB Ext JS Web Project Facet</description>
			<member category="com.farata.cleardatabuilder.extjs.facet.category" />
		</project-facet>
		<project-facet-version facet="com.farata.cleardatabuilder.extjs.facet.common"
			version="1.0">
			<constraint>
				<or>
					<and>
						<requires facet="jst.web" />
						<requires facet="jpt.jpa" />
					</and>
					<and>
						<requires facet="jst.web" />
						<requires facet="com.farata.cleardatabuilder.extjs.facet.sample" />
					</and>
				</or>
			</constraint>
		</project-facet-version>
		<action facet="com.farata.cleardatabuilder.extjs.facet.common"
			id="com.farata.cleardatabuilder.extjs.facet.common.install" type="install">
			<delegate
				class="com.farata.cleardatabuilder.extjs.facet.common.CommonInstallDelegate" />
			<config-factory
				class="com.farata.cleardatabuilder.extjs.facet.common.CommonInstallConfigFactory" />
		</action>
		<action facet="com.farata.cleardatabuilder.extjs.facet.common"
			id="com.farata.cleardatabuilder.extjs.facet.common.uninstall" type="uninstall">
			<delegate
				class="com.farata.cleardatabuilder.extjs.facet.common.CommonUninstallDelegate" />
		</action>

		<project-facet id="com.farata.cleardatabuilder.extjs.facet.sample">
			<label>CDB Ext JS Sample Project Facet</label>
			<description>CDB Ext JS Sample Project Facet</description>
			<member category="com.farata.cleardatabuilder.extjs.facet.category" />
		</project-facet>
		<project-facet-version facet="com.farata.cleardatabuilder.extjs.facet.sample"
			version="1.0">
			<constraint>
				<and>
					<requires facet="jst.web" />
				</and>
			</constraint>
		</project-facet-version>
		<action facet="com.farata.cleardatabuilder.extjs.facet.sample"
			id="com.farata.cleardatabuilder.extjs.facet.sample.install" type="install">
			<delegate
				class="com.farata.cleardatabuilder.extjs.facet.sample.SampleInstallDelegate" />
			<config-factory
				class="com.farata.cleardatabuilder.extjs.facet.sample.SampleInstallConfigFactory" />
		</action>
		<action facet="com.farata.cleardatabuilder.extjs.facet.sample"
			id="com.farata.cleardatabuilder.extjs.facet.sample.uninstall" type="uninstall">
			<delegate
				class="com.farata.cleardatabuilder.extjs.facet.sample.SampleUninstallDelegate" />
		</action>

	</extension>
	
	<extension point="org.eclipse.wst.common.project.facet.ui.images">
		<image category="com.farata.cleardatabuilder.extjs.facet.category"
			path="icons/myflex-category.ico" />
		<image facet="com.farata.cleardatabuilder.extjs.facet.common" path="icons/flex-facet.ico" />
		<image facet="com.farata.cleardatabuilder.extjs.facet.sample" path="icons/flex-facet.ico" />
	</extension>

	<extension point="org.eclipse.wst.common.project.facet.ui.wizardPages">
		<wizard-pages action="com.farata.cleardatabuilder.extjs.facet.common.install">
			<page
				class="com.farata.cleardatabuilder.extjs.facet.common.CommonInstallWizardPage" />
		</wizard-pages>
		<wizard-pages action="com.farata.cleardatabuilder.extjs.facet.sample.install">
			<page
				class="com.farata.cleardatabuilder.extjs.facet.sample.SampleInstallWizardPage" />
		</wizard-pages>
	</extension>
	
	<extension point="org.eclipse.wst.common.project.facet.core.runtimes">
		<supported>
			<runtime-component any="true" />
			<facet id="com.farata.cleardatabuilder.extjs.facet.common" />
		</supported>
		<supported>
			<runtime-component any="true" />
			<facet id="com.farata.cleardatabuilder.extjs.facet.sample" />
		</supported>
	</extension>
	
	<extension id="com.farata.cleardatabuilder.extjs.annotationProcessorFactory"
		name="CDB Annotation Processor Factory" point="org.eclipse.jdt.apt.core.annotationProcessorFactory">
		<factories enableDefault="true">
			<factory
				class="com.farata.cdb.annotations.processor.CDBHQLAnnotationProcessor" />
		</factories>
	</extension>
	
	<extension point="org.eclipse.core.resources.natures" id="com.farata.cleardatabuilder.extjs.CDBJSNature"
		name="ClearDataBuilder for Ext JS Nature">
		<runtime>
			<run class="com.farata.cleardatabuilder.extjs.builder.ClearNature">
			</run>
		</runtime>
		<builder id="com.farata.cleardatabuilder.extjs.builder"></builder>
	</extension>
	<extension id="builder" name="Clear Data Builder" point="org.eclipse.core.resources.builders">
		<builder>
			<run class="com.farata.cleardatabuilder.extjs.builder.ClearBuilder">
			</run>
		</builder>
	</extension>
	<extension point="org.eclipse.ui.propertyPages">
		<page class="com.farata.cleardatabuilder.extjs.ui.ClearPreferences" id="com.farata.cleardatabuilder.extjs.ui.cdbPreferences"
			name="ClearDataBuilder for Ext JS">
			<enabledWhen>
				<adapt type="org.eclipse.core.resources.IProject">
					<test property="org.eclipse.core.resources.projectNature"
						value="com.farata.cleardatabuilder.extjs.CDBNature" />
				</adapt>
			</enabledWhen>
		</page>
	</extension>
	<extension point="org.eclipse.jdt.apt.core.annotationProcessorFactory">
		<factories enableDefault="true">
			<factory
				class="com.farata.cleardatabuilder.extjs.validation.apt.CDBAnnotationProcessorFactory" />
		</factories>
	</extension>
	<extension point="org.eclipse.jdt.ui.quickFixProcessors">
		<quickFixProcessor id="CDBJSQuickFixProcessor"
			name="CDB JS Quick Fix Processor" class="com.farata.cleardatabuilder.extjs.validation.correction.CDBQuickFixProcessor">
			<handledMarkerTypes>
				<markerType id="org.eclipse.jdt.apt.core.compile.problem" />
			</handledMarkerTypes>
			<enablement>
				<with variable="projectNatures">
					<iterate operator="or">
						<equals value="com.farata.cleardatabuilder.extjs.CDBNature" />
					</iterate>
				</with>
			</enablement>
		</quickFixProcessor>
	</extension>
	
	<extension
		point="org.eclipse.jpt.jpa.core.jpaPlatforms">
		
		<jpaPlatformGroup
        	id="cdb_generic"
        	label="CDB Generic Platform"/>
		
		<jpaPlatform
			id="cdb_generic"
			label="CDB Generic Platform"
			factoryClass="com.farata.cleardatabuilder.extjs.jpa.platform.CDBJpaPlatformFactory"
			group="cdb_generic"
			jpaFacetVersion="1.0"
			default="false"/>
			
	  	<jpaPlatform
	        id="cdb_generic2_0"
	        label="CDB Generic Platform"
	        factoryClass="com.farata.cleardatabuilder.extjs.jpa.platform.CDBJpaPlatformFactory2"
	        group="cdb_generic"
	        jpaFacetVersion="2.0"
	        default="false"/>
		
	</extension>
	
	<extension
		point="org.eclipse.jpt.jpa.ui.jpaPlatformUis">
		
		<jpaPlatformUi
			id="cdb_generic.ui"
			jpaPlatform="cdb_generic"
			factoryClass="org.eclipse.jpt.jpa.ui.internal.platform.generic.GenericJpaPlatformUiFactory"/>
		
		<jpaPlatformUi
			id="cdb_generic2_0.ui"
			jpaPlatform="cdb_generic2_0"
			factoryClass="org.eclipse.jpt.jpa.ui.internal.jpa2.platform.generic.Generic2_0JpaPlatformUiFactory"/>
	
	</extension>
	
	<extension 
			point="org.eclipse.ui.newWizards">
      <category
            name="ClearDataBuilder for Ext JS"
            id="com.farata.cleardatabuilder.extjs"
            icon="icons/myflex-category.ico">
      </category>
      <!-- wizard
            name="ClearDataBuilder for Ext JS Project"
            icon="icons/myflex-category.ico"
            category="com.farata.cleardatabuilder.extjs"
            class="com.farata.cleardatabuilder.extjs.wizard.CDBProjectWizard"
            preferredPerspectives="org.eclipse.jdt.ui.JavaPerspective,org.eclipse.jdt.ui.JavaBrowsingPerspective,org.eclipse.jdt.ui.JavaHierarchyPerspective"
            project="true"
            finalPerspective="org.eclipse.jdt.ui.JavaPerspective"
            id="com.farata.cleardatabuilder.extjs.wizard.CDBProjectWizard">
         <description>
           ClearDataBuilder for Ext JS
         </description>
         <keywordReference id="com.farata.cleardatabuilder.extjs"/>
      </wizard -->
	</extension>
</plugin>
